[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 app/app.py runserver"
make_csv = "python3 app/make_csv.py"
move_csv = "python3 app/move_csv.py"
make_merge_csv = "python3 app/make_merge_csv.py"
print_graph = "python3 app/print_graph.py"

[requires]
python_version = "3.9"

[packages]
selenium = "*"
pandas = "*"
matplotlib = "*"
webdriver-manager = "*"

[dev-packages]
autopep8 = "*"
