[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 app/app.py runserver"
make_csv = "python3 app/make_csv.py"
merge_csv = "python3 app/make_merge_csv.py"
print_graph = "python3 app/print_graph.py"

[requires]
python_version = "3.8"

[packages]
chromedriver-binary = "~=86.0"
selenium = "~=3.141"
pandas = "~=1.1"
matplotlib = "~=3.3"

[dev-packages]
autopep8 = "~=1.5"
